:root{
  /* COLOR */
  --bg-primary: rgba(5, 5, 5, 1);
  --bg-secondary: rgba(15, 15, 15, 1);
  --bg-button-color: rgba(227, 255, 168, 1);

  --text-color-primary-white: rgba(255, 255, 255, 1);
  --text-color-secondary-grey: rgba(182, 182, 182, 1);
  --text-color-button-black: rgba(15, 15, 15, 1);
  --text-color-button-grey: rgba(182, 182, 182, 1);
  --text-color-active-page-green: rgba(227, 255, 168, 1);

  --icon-color-green:rgba(227, 255, 168, 1);
  --icon-color-white: rgba(255, 255, 255, 1);

  --water-color:rgba(182, 195, 255, 1);
  --calories-donut-color: rgba(69, 255, 188, 1);
  --carbonohidrates-donut-color:rgba(255, 196, 247, 1);
  --protein-donut-color:rgba(255, 243, 183, 1);
  --fat-donut-color:rgba(182, 182, 182, 1);

  --input-border-color-normal:rgba(227, 255, 168, 1);
  --input-border-color-error: rgba(231, 74, 59, 1);
  --input-border-color-correct: rgba(60, 188, 129, 1);
}



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color:var(--text-color-primary-white);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button{
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
